{% extends "../layouts/base.twig" %}
{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block main %}
    <main>
        <section>
            <h2>Login</h2>
            <form action="" method="post">
                <h3>Company name</h3>
                <input type="text" name="name" id="name">
                <h3>Password</h3>
                <input type="password" name="password" id="password">
                <br>
                <button type="submit">Login</button>
                {% if error %}
                    <p>
                        {% for key, value in error %}
                            {{ value }}
                        {% endfor %}
                    </p>
                {% endif %}
            </form>
        </section>
    </main>
{% endblock %}
